# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# ---------------------------------------------------------
# Base
# ---------------------------------------------------------
basedir                                 = /fioa/mariadb10
port                                    = 3306
autocommit                              = on
user                                    = root


# ---------------------------------------------------------
# Binary Log
# ---------------------------------------------------------
#binlog_format                           = mixed
expire_logs_days                        = 7
#max_binlog_size                         = 512M
sync_binlog                             = 0


# ---------------------------------------------------------
# Connection Management
# ---------------------------------------------------------
max_allowed_packet                      = 4M
max_connect_errors                      = 4294967295
max_connections                         = 500
open_files_limit                        = 65536
table_open_cache                        = 3000
table_open_cache_instances              = 16


# ---------------------------------------------------------
# File Location
# ---------------------------------------------------------
datadir                                 = /fioa/mysql
innodb_log_group_home_dir               = /fioa/mysql
innodb_data_home_dir                    = /fioa/mysql
#log_bin                                 = /fioa/mariadb10/binlog/mysql-bin
log_error                               = /fioa/mariadb10/log/mysql_error.log
relay_log_recovery                      = on
slow_query_log_file                     = /fioa/mariadb10/log/mysql-slowqueries.log
tmpdir                                  = /fioa/mariadb10/tmp


# ---------------------------------------------------------
# Innodb
# ---------------------------------------------------------
innodb_additional_mem_pool_size         = 8M
innodb_buffer_pool_size                 = 26G
innodb_buffer_pool_dump_at_shutdown     = off
innodb_buffer_pool_load_at_startup      = off
innodb_buffer_pool_instances            = 16
innodb_data_file_path                   = ibdata1:1G:autoextend
innodb_file_per_table                   = on
innodb_flush_method                     = O_DIRECT
innodb_flush_neighbors                  = 0
innodb_io_capacity                      = 100000
innodb_io_capacity_max                  = 200000
innodb_log_buffer_size                  = 32M
innodb_log_file_size                    = 512M
innodb_open_files                       = 10000
innodb_read_ahead_threshold             = 0
innodb_read_io_threads                  = 8
innodb_sort_buffer_size                 = 16M
innodb_write_io_threads                 = 16
innodb_print_all_deadlocks              = on


# ---------------------------------------------------------
# Myisam
# ---------------------------------------------------------
key_buffer_size                         = 64M


# ---------------------------------------------------------
# Memory
# ---------------------------------------------------------
binlog_stmt_cache_size                  = 65536
max_allowed_packet                      = 4M
max_heap_table_size                     = 3072M
tmp_table_size                          = 3072M
query_cache_size                        = 0
query_cache_type                        = 0
thread_cache_size                       = 500


# ---------------------------------------------------------
# Memory Allocation per Connection
# ---------------------------------------------------------
binlog_cache_size                       = 65536
join_buffer_size                        = 256K
read_buffer_size                        = 1M
read_rnd_buffer_size                    = 2M
sort_buffer_size                        = 2M


# ---------------------------------------------------------
# Replecation 
# 1.read_only: (master=off, slave=on)
# 2.server_id: (master1=1, slave1=2, slave2=3)
# 3.apply the slave db only
# 4.apply the slave db only
# ---------------------------------------------------------
read_only                               = off
server_id                               = 1
#relay-log                              = mysql-relay-bin
#relay-log-index                        = mysql-relay-bin

# ---------------------------------------------------------
# Slow Query Log
# ---------------------------------------------------------
long_query_time                         = 0.5
slow_query_log                          = on


# ---------------------------------------------------------
# SQL Behavior
# ---------------------------------------------------------
character_set_server                    = utf8
explicit_defaults_for_timestamp         = on
max_error_count                         = 10000

innodb_doublewrite
innodb_flush_log_at_trx_commit = 1

