# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[mysqld]

# ---------------------------------------------------------
# Base
# ---------------------------------------------------------
basedir                                 = /fioa/percona56
port                                    = 3306
autocommit                              = on
user                                    = mysql
#foreign_key_checks                      = off
#unique_checks                           = off
transaction-isolation                   = READ-COMMITTED
thread_concurrency                      = 32
aria_checkpoint_interval                = 1


# ---------------------------------------------------------
# Binary Log
# ---------------------------------------------------------
#binlog_format                           = mixed
expire_logs_days                        = 7
#max_binlog_size                         = 512M
sync_binlog                             = 0


# ---------------------------------------------------------
# Connection Management
# ---------------------------------------------------------
max_allowed_packet                      = 4M
max_connect_errors                      = 4294967295
max_connections                         = 500
net_buffer_length                       = 1M
open_files_limit                        = 65536
table_open_cache                        = 2000
#table_open_cache_instances              = 16


# ---------------------------------------------------------
# File Location
# ---------------------------------------------------------
datadir                                 = /fioa/mysql
innodb_log_group_home_dir               = /fioa/mysql
innodb_data_home_dir                    = /fioa/mysql
#log_bin                                 = /fioa/percona56/binlog/mysql-bin
log_error                               = /fioa/percona56/log/mysql_error.log
relay_log_recovery                      = on
slow_query_log_file                     = /fioa/percona56/log/mysql-slowqueries.log
tmpdir                                  = /fioa/percona56/tmp


# ---------------------------------------------------------
# Innodb
# ---------------------------------------------------------
innodb_additional_mem_pool_size         = 8M
innodb_adaptive_flushing                = on
innodb_buffer_pool_size                 = 28G
innodb_buffer_pool_dump_at_shutdown     = off
innodb_buffer_pool_load_at_startup      = off
innodb_buffer_pool_instances            = 32
innodb_change_buffer_max_size           = 50
innodb_change_buffering                 = changes
innodb_data_file_path                   = ibdata1:140M:autoextend
innodb_file_per_table                   = on
innodb_flush_method                     = O_DIRECT
innodb_flush_neighbors                  = 0
innodb_io_capacity                      = 200000
innodb_io_capacity_max                  = 300000
innodb_log_buffer_size                  = 32M
#innodb_log_block_size                   = 4k
innodb_log_file_size                    = 512M
innodb_open_files                       = 2000
#innodb_page_size                        = 4k
innodb_print_all_deadlocks              = off
innodb_read_ahead_threshold             = 0
innodb_read_io_threads                  = 32
innodb_sort_buffer_size                 = 16M
innodb_thread_concurrency               = 32
innodb_write_io_threads                 = 32


# ---------------------------------------------------------
# Myisam
# ---------------------------------------------------------
key_buffer_size                         = 64M


# ---------------------------------------------------------
# Memory
# ---------------------------------------------------------
binlog_stmt_cache_size                  = 65536
max_allowed_packet                      = 4M
max_heap_table_size                     = 1G
tmp_table_size                          = 1G
query_cache_size                        = 64M
query_cache_type                        = 1
thread_cache_size                       = 100


# ---------------------------------------------------------
# Memory Allocation per Connection
# ---------------------------------------------------------
binlog_cache_size                       = 65536
join_buffer_size                        = 2M
read_buffer_size                        = 2M
read_rnd_buffer_size                    = 8M
sort_buffer_size                        = 8M


# ---------------------------------------------------------
# Replecation
# 1.read_only: (master=off, slave=on)
# 2.server_id: (master1=1, slave1=2, slave2=3)
# 3.apply the slave db only
# 4.apply the slave db only
# ---------------------------------------------------------
read_only                               = off
server_id                               = 1
#relay-log                              = mysql-relay-bin
#relay-log-index                        = mysql-relay-bin

# ---------------------------------------------------------
# Slow Query Log
# ---------------------------------------------------------
long_query_time                         = 0.5
slow_query_log                          = on


# ---------------------------------------------------------
# Thread Pool
# ---------------------------------------------------------
thread_handling                         = pool-of-threads
thread_pool_size                        = 32


# ---------------------------------------------------------
# SQL Behavior
# ---------------------------------------------------------
character_set_server                    = utf8
#explicit_defaults_for_timestamp         = on
max_error_count                         = 10000
performance_schema                      = off
skip-name-resolve

innodb_doublewrite
innodb_flush_log_at_trx_commit = 1
